/* 
    Element font styling 
*************************************** */

body {
    font-size: 13px;
    /*    font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
}
p {
    padding: 0;
    /*margin:0;*/
    font-size: 21px;
    line-height: 21px;
    /*    font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
    color: #636363;
}
h1 {
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 95px;
    text-transform: uppercase;
}
h2 {
    color: #134a7d;
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
h2 {
    color: #134a7d;
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    /*    font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
    color: #636363;
}
h4 {
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: bold;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
}
/*  Links
*************************************** */

li a,
li a:active,
li a:visited {
    color: #fff;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
/* Interaction 
*************************************** */

button {
    color: #92278f;
    background-color: inherit;
    border-style: solid;
    border-color: #92278f #92278f;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    height: 70px;
    line-height: 70px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-indent: -2.0079999995231628px;
    width: 255px;
}
/* Custom Panel Definition 
    Note All have same padding attributs 
*************************************** */

#divide-One {
    background: #233b52 url(../images/Red_Divider.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
}
#divide-Two {
    background: #233b52 url(../images/Grey_Divide.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
} 
#divide-Three { 
    background: #233b52 url(../images/Graphite_divider.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
} 
#Story {
    background: #233b52 url(../images/Story_Area.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 750px;
    padding: 0;
}
#Work {
} 

#Leadership {
    background: #233b52 url(../images/Leadership.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 750px;
    padding: 0;
}
#People {
    background: #233b52 url(../images/People.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 750px;
    padding: 0;
}
#Join-Us {    
    background: #233b52 url(../images/JoinUs.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 750px;
    padding: 0;
}

#Footer {
    background-color: #333;
    min-height: 150px;
}
/* Media Queries */