/* 
    Element font styling 
*************************************** */

body {
    font-size: 13px;
    /*    font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
}
p {
    padding: 0;
    /*margin:0;*/
    font-size: 21px;
    line-height: 21px;
    /*        font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
    color: #636363;
}
h1 {
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 95px;
    text-transform: uppercase;
}
h2 {
    color: #134a7d;
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 5px;
}
h2 {
    color: #134a7d;
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    /*    font-family: "Roboto Condensed";*/
    font-style: normal;
    font-weight: 400;
    color: #636363;
}
h4 {
    /*    font-family: "din-condensed-web",sans-serif;*/
    font-style: bold;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
}
/*  Links
*************************************** */

li a,
li a:active,
li a:visited {
    color: #fff;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
/* Interaction 
*************************************** */

button {
    color: #92278f;
    background-color: inherit;
    border-style: solid;
    border-color: #92278f #92278f;
    display: inline-block;
    font-family: "proxima-nova", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    height: 70px;
    line-height: 70px;
    margin: 20px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-indent: -2.0079999995231628px;
    width: 255px;
}
/* Sticky Navigation */

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
}
#sticky-Nav {
    /*    background-color: #333;*/
    height: 80px;
    width: 100%;
    padding: 20px 0px 0 100px;
}
#sticky-Nav img {
    display: block;
    float: left;
}
#sticky-Nav ul {
    display: block;
    /*    float: left;*/
    list-style: none;
    margin: 0;
    padding: 0;
}
#sticky-Nav li {
    color: #fff;
    display: inline-block;
    /*        font-family: "proxima-nova",sans-serif;*/
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 32px 0 0 50px;
    text-transform: uppercase;
}
/* Custom Panel Definition 
    Note All have same padding attributs 
*************************************** */

#divide-One {
    background: #233b52 url(../images/Red_Divider.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
}
#divide-Two {
    background: #233b52 url(../images/Grey_Divide.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
}
#divide-Three {
    background: #233b52 url(../images/Graphite_divider.jpg) no-repeat center center scroll;
    background-size: cover;
    min-height: 150px;
    padding: 0;
}
#Story,
#Leadership,
#People,
#Join-us {
    background-size: cover;
    min-height: 1200px;
    padding: 0;
}
#Story {
    background: #233b52 url(../images/Story_Area.jpg) no-repeat center center scroll;
}
#Leadership {
    background: #233b52 url(../images/Leadership.jpg) no-repeat center center scroll;
}
#People {
    background: #233b52 url(../images/People.jpg) no-repeat center center scroll;
}
#Join-Us {
    background: #233b52 url(../images/JoinUs.jpg) no-repeat center center scroll;
}
/* Case Studies */

.Case-One,
.Case-Two,
.Case-Three,
.Case-Four,
.Case-Five,
.Case-Six {
    margin: 0;
    min-height: 760px;
    padding: 0;
}
.Case-One {
    background: #233b52 url(../images/Case_1.jpg) no-repeat center center scroll;
    background-size: cover;
}
.Case-Two {
    background: #233b52 url(../images/Case_2.jpg) no-repeat center center scroll;
    background-size: cover;
}
.Case-Three {
    background: #233b52 url(../images/Case_3.jpg) no-repeat center center scroll;
    background-size: cover;
}
.Case-Four {
    background: #233b52 url(../images/Case_4.jpg) no-repeat center center scroll;
    background-size: cover;
}
.Case-Five {
    background: #233b52 url(../images/Case_5.jpg) no-repeat center center scroll;
    background-size: cover;
}
.Case-Six {
    background: #233b52 url(../images/Case_6.jpg) no-repeat center center scroll;
    background-size: cover;
}
/* Foooter */

#Footer {
    background-color: #333;
    min-height: 150px;
    width: 100%;
    position: relative;
}
#Footer ul {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#Footer li {
    color: #fff;
    display: block;
    /*        font-family: "proxima-nova",sans-serif;*/
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
#Footer .left-foot {
    left: 100px;
    position: absolute;
    top: 30%;
}
#Footer .left-foot img {
    display: block;
    padding: : 0 10px 0 20px;
    float: left;
}
#Footer .right-foot {
    right: 225px;
    position: absolute;
    top: 30%;
}
#Footer .right-foot ul {
    float: left;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    padding: 0 20px 0 20px;
}
/* Media Queries */